@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap');

body {
    background-color: #333;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    background: #444;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    width: 100%; /* Increased width */
}

h1 {
    font-size: 2.5rem;
    color: #ffd700;
    margin-bottom: 60px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.main-content {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start; /* Align items to the top */
}

.results-list {
    width: 150px; /* Reduced width */
    background: #555;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.results-list h2 {
    font-size: 1.2rem; /* Reduced font size */
    color: #ffd700;
    margin-bottom: 10px;
    text-align: center;
}

.results-list ul {
    list-style: none;
    padding: 0;
}

.results-list li {
    padding: 5px;
    margin: 5px 0;
    background: #666;
    border-radius: 5px;
    text-align: center;
}